//* ======================== Colors ========================
$primary-color: #e7e5e5;
$secondary-color: #3f96b1;
$default: #000;

//* ======================== Font-size ========================

$font-sm: 1rem;
$font-md: 1.25rem;
$font-lg: 3rem;
